html {
    font-size: 3.5mm;
    line-height: 23px;
}

@page {
    size: 210mm 297mm;
    margin: 35mm 27mm 26mm;
    @bottom-center {
        content: counter(page);
        font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
        font-size: 0.85em;
    }
}

p {
    margin: 0rem;
    font-family: YakuCaltMincho, YuMincho, Yu Mincho, serif;
    color: black;
    text-align: justify;
    text-indent: 1rem;
}

/* ========== インデント ========== */
/* 行頭一文字落とし */
.indentation {
    padding-left: 1rem;
    text-indent: -1rem;
}
/* 行頭一文字落としの後続段落　または　一文字分段落字下げ */
.indentation-following {
    padding-left: 1rem;
    text-indent: 1rem;
}

/* ========== 文字ツメ ========== */
.tume {
    font-feature-settings: "palt";
}

/* ========== Letter Space ========== */
.letter-spce-2percent {
    letter-spacing: -0.02rem;
}
.letter-spce-5percent {
    letter-spacing: -0.05rem;
}
.letter-spce-7percent {
    letter-spacing: -0.07rem;
}
.letter-spce-2bu {
    letter-spacing: 0.5rem;
}

/* ========== 見出し ========== */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: YuMincho Demibold, Yu Mincho Demibold, serif;
    font-feature-settings: "palt";
}

h3 {
    margin: 11.5px 0 11.5px 1rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    text-indent: -1rem;
}

h4 {
    font-size: 1rem;
    line-height: 23px;
    padding-left: 1rem;
    text-indent: -1rem;
}

/* ========== 目　次 ========== */
.container {
    display: flex;
    flex-direction: column;
}
.item {
    background-color: aquamarine;
}
a.contents {
    display: block;
}
.contents-photo {
    width: 3rem;
    display: none;
}