@page {
    size: 210mm 297mm;
    margin: 35mm 27mm 29mm;
    @bottom-center {
        content: counter(page);
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.85em;
    }
}

body {
    column-count: 2;
    column-gap: 7mm;
    background-color: rgba(0, 0, 0, 0.05);
}

p {
    font-family: serif;
    color:black;
    font-size: 3.5mm;
    line-height:1.7em;
    margin: 0em;
    text-align:justify;
    /* text-indent: 1em; */
}